.App {
  width: 100%; max-width: 420px;
  margin: 0.5rem auto;
}

.header {
  margin: 0;
}

.grid {
  width: calc(9 * 40px);
  margin: 0.5rem auto 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cell {
  display: block;
  width: 40px; height: 40px;
  box-sizing: border-box;
  border: 1px solid #bbb;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  cursor: default;
}
.cell.border-right { border-right-width: 3px; }
.cell.border-bottom { border-bottom-width: 3px; }
.cell.original { font-weight: bold; }
.cell:not(.original) { cursor: pointer; }
.cell.active {
  background-color: #00c !important;
  color: #fff;
}
.cell.invalid {
  background-color: #c00;
  color: #fff;
}

.btn {
  width: 38px; height: 38px;
  font-size: 24px;
  cursor: pointer;
}

.btn:disabled { cursor: not-allowed; }
